.composerPage {
  position: relative;
  margin: 0 auto;
  background-color: #5d0b1b;
  color: #f2eecb;
  max-width: 1200px;
  width: 95%;
  border-radius: 5px;
  border: 5px solid #f2eecb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.composerPageBackBtn {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2eecb;
  border: none;
  border-bottom-right-radius: 5px;
  padding: 1rem;
}
.composerPageBackBtn:hover {
  background-color: #b99566;
}

.composerPageImg {
  border-radius: 50%;
  border: 3px solid #f2eecb;
  max-width: 250px;
  width: 100%;
}

.composerPageWorks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.composerPageWork {
  a {
    color: #f2eecb;
  }

  a:visited {
    color: #b99566;
  }
}
